<?xml version="1.0"?>
<config>
    <modules>
        <Company_Autoapi>
            <version>0.1.0</version>
        </Company_Autoapi>
    </modules>


     <frontend>
        <routers>
            <web>
                <use>standard</use>
                <args>
                    <module>Company_Autoapi</module>
                    <frontName>autoapi</frontName>
                </args>
            </web>
        </routers>
        <layout>
            <updates>
                <autoapi>
                    <file>web.xml</file>
                </autoapi>
            </updates>
        </layout>
    </frontend>

 <admin>
        <routers>
            <autoapi>
                <use>admin</use>
                <args>
                    <module>Company_Autoapi</module>
                    <frontName>autoapi</frontName>
                </args>
            </autoapi>
        </routers>
    </admin>

    <global>
        <models>
            <autoapi>
                <class>Company_Autoapi_Model</class>
            </autoapi>
        </models>
        <helpers>
            <autoapi>
                <class>Company_Autoapi_Helper</class>
            </autoapi>
        </helpers>
     </global>
</config>

<adminhtml>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <autoapi>
                                        <title>Inchoo - All</title>
                                    </autoapi>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml>